<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>edit your music</h1>

    <form action="/music/edit/<%= data.id %>" method="post">

        <label for="title">Music Title:</label><br>
        <input type="title" id="title" name="title" value="<%= data.title %>"><br>
        <label for="artist">Artist:</label><br>
        <input type="text" id="artist" name="artist" value="<%= data.artist %>"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" id="genre" name="genre" value="<%= data.genre %>"><br>
        <label for="released_year">Released Year:</label><br>
        <input type="text" id="released_year" name="released_year" value="<%= data.released_year %>"><br>
        <!-- plus edit gambar -->
        <!-- <label for="img">Upload Image:</label><br>
        <input type="file" id="img" name="img"><br> -->

        <br>
        <button type="submit">add to my playlist</button>
    </form>
</body>
</html>