<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musictify</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <%- include('../partials/home') %>
    
    <h1>other liked music</h1>

    <div class="tbl-header">
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>username</th>
                <th>see music</th>
            </tr>
        </thead>
        <tbody>
            
            <% for (let i = 0; i < data.length; i++) { %>
                <% if (data[i].id !== myPlaylist[0].id){ %>
                    <tr>
                        <td> <%= data[i].name %></td>
                        <td> <%= data[i].username %></td>
                        <td> <a href="/music/seePlaylist/<%= data[i].id %>"><button class="btn">see playlist</button></a></td>
                    </tr>
                <% } %> 
            <% } %>
        </tbody>
    </table>
    </div>

</body>
</html>